body {
    background: url(./fotos/background2.png);
    font-family: 'Pokemon';
}


button {
  font-family: 'Pokemon';
}

.header {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    background: url(./fotos/background.png);
  }
  


  .titel {
    text-align: center;
    display: inline-block;
    margin-left: 500px;
  }
  .titel2 {
    text-align: center;
    color: #afafaf;
    display: inline-block;
  }


.footer {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    background: url(./fotos/background.png);
  }

.pokeball {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 500px;
    float: left;
    
}

#headertext {
    text-align: center;
    margin-right: 600px;
}

@font-face {
    font-family: 'Pokemon'; 
    src: url('./fonts/chequered-ink_pocket-monk/Pocket\ Monk.otf'); 
}



.pokemon {
    background-color: rgb(247, 247, 247);
    width: auto;
    height: auto;
    padding: 10px;
    margin: 40px 150px 30px 150px;
}


.column {
    margin-left: 42px;
    float: left;
    width: 350px;

  }


.column2 {
  background-color: rgb(218, 218, 218);
  padding: 10px;
}

.pokemon:after {
    content: "";
    display: table;
    clear: both;
  }


.photo {
  float: left;
 padding: 20px;
}
  
.information {
  padding: 20px;
  margin-right:388px;
  margin-top: 20px;
  font-size: 20px;
}


.evolution {
 float: left;
 margin-left: 450px;
 margin-top: -100px;
}

.arrow {
  margin-bottom: 50px;
}

.description1 {
  float: right;
  margin-right: 750px;
  width: 400px;
}



#type {
  color: white;
  border: none;
  font-size: 18px;
}


.link {
    text-decoration: none;
    color: black;
  }


.types {
  float: left;
  margin-top: 30px;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  margin-left: 10px;
}





#grass {
  margin-top: 12px;
  background-color: rgb(123,206,82);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#water {
  background-color: rgb(57, 156, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#fire {
  background-color: rgb(247, 82, 49);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#normal {
  background-color: rgb(173, 165, 148);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#ice {
  background-color: rgb(90, 206, 231);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#electric {
  background-color: rgb(255, 198, 49);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#poison {
  background-color: rgb(181, 90, 165);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#flying {
  background-color: rgb(156, 173, 247);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#fight {
  background-color: rgb(165, 82, 57);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}



#bug {
  background-color: rgb(173, 189, 33);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#ground {
  background-color: rgb(214, 181, 90);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#psychic {
  background-color: rgb(255, 115, 165);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}

#rock {
  background-color: rgb(214, 181, 90);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#ghost {
  background-color: rgb(99, 99, 181);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#dragon {
  background-color: rgb(123, 99, 231);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}

#steel {
  background-color: rgb(173, 173, 198);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#dark {
  background-color: rgb(115, 90, 74);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}


#fairy {
  background-color: rgb(240, 176, 240);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 55px;
}



#grass:hover {
  padding: 10px;
}


#water:hover {
  padding: 10px;
}


#fire:hover {
  padding: 10px;
}


#normal:hover {
  padding: 10px;
}


#ice:hover {
  padding: 10px;
}


#electric:hover {
  padding: 10px;
}


#poison:hover {
  padding: 10px;
}


#flying:hover {
  padding: 10px;
}


#fight:hover {
  padding: 10px;
}



#bug:hover {
  padding: 10px;
}


#ground:hover {
  padding: 10px;
}


#psychic:hover {
  padding: 10px;
}

#rock:hover {
  padding: 10px;
}


#ghost:hover {
  padding: 10px;
}


#dragon:hover {
  padding: 10px;
}

#steel:hover {
  padding: 10px;
}


#dark:hover {
  padding: 10px;
}


#fairy:hover {
  padding: 10px;
}

.search_box {
  float: right;
  margin-right: 200px;
  margin-top: 10px;

}

#submit_form {
  background-color: rgb(238, 65, 53);
  color: #ffffff;
  font-family: pokemon;
  border: 1px solid rgb(238, 65, 53);  
}



#search {
  border: 1px solid #afafaf;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  background-color: rgb(247, 247, 247);
}